<div class="flex flex-col w-full border border-sky-400 rounded-md">
    <section class="py-3 font-semibold bg-gray-100 rounded-t-md text-gray-500 text-center">
        <h4><%= title %></h4>
    </section>
    <section class="flex flex-[1] items-center justify-center">
        <h4 class="text-3xl text-sky-500"><%= detail %></h4>
    </section>
</div>