</main>

<footer class="footer footer-center p-4 text-base-content border-2">
    <aside class="text-slate-500">
      <p>Copyright © 2023 - All right reserved by PT RisolGulung Tbk</p>
    </aside>
</footer>
   

</body>
</html>