<!-- Navbar -->
<nav class="navbar bg-base-100">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl">Hacktiv10</a>
    </div>
    <div class="flex-none">
        <a href="/login" class="btn btn-primary">LOGIN</a>
    </div>
    
</nav>

<!-- Main Content -->
<main class="flex-[1] max-w-[1260px] w-full mx-auto">