<!-- Navbar -->
<nav class="navbar bg-base-100 shadow-md">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl">PT RisolGulung Tbk (dalam Pailit)</a>
    </div>
    <div class="flex-none">
        <a href="/login" class="btn btn-primary">LOGIN KURATOR</a>
    </div>
    
</nav>

<!-- Main Content -->