<form class="max-w-[400px] flex" action="" method="GET">
    <input 
        name="q"
        type="text" 
        placeholder="<%= placeholder %>"
        class="p-4 text-slate-400 border border-slate-300 rounded-l-md focus:outline-none"
    >
    <button 
        type="submit"
        class="grid place-content-center h-full bg-sky-600 px-5 rounded-r-md"     
    ><i class="fa-solid fa-magnifying-glass text-white text-xl"></i></button>
</form>