<%- include('components/Header') %>

<h1 class="text-2xl font-bold text-slate-600">INI HOME PAGE LOH</h1>

<%- include('components/LinkButton', {
    to: '/login',
    text: 'LOGIN'
}) %>

<%- include('components/Footer') %>