<%- include('../components/Header') %>

<% if (locals.error) { %>
    <p class="text-error mt-2 text-center animate__animated animate__shakeX"><%= locals.error %></p>
<% } %>

INI HOME PAGE TRUSTEE
<a href="trustee/logout" class="btn btn-primary">LOGOUT</a>

<%- include('../components/Footer') %>