<%- include('../components/Header') %>

<form action="" method="POST" class="flex flex-col items-center shadow-xl p-4 gap-3">
    <h1 class="text-slate-800 text-3xl p-3">Add New Kurator</h1>

    <label for="username" class="text-slate-500">Username</label>
    <input name="username" type="text" id="username" placeholder="siGanteng" class="input input-bordered w-full max-w-xs" />

    <div class="flex gap-3">
        <label for="firstName" class="text-slate-500">First Name</label>
        <input name="firstName" type="text" id="firstName" placeholder="Bambang" class="input input-bordered w-full max-w-xs" />
    
        <label for="lastName" class="text-slate-500">Last Name</label>
        <input name="lastName" type="text" id="lastName" placeholder="Harianto" class="input input-bordered w-full max-w-xs" />
    </div>



    <label for="email" class="text-slate-500">Email</label>
    <input name="email" type="text" id="email" placeholder="Ucok@gmail.com" class="input input-bordered w-full max-w-xs" />

    <label for="phone" class="text-slate-500">Phone Number</label>
    <input name="phone" type="number" id="phone" placeholder="08526161625" class="input input-bordered w-full max-w-xs" />

    <label for="domicile" class="text-slate-500">Domicile</label>
    <input name="domicile" type="text" id="domicile" placeholder="Jl. Mangga Besar No.3" class="input input-bordered w-full max-w-xs" />
    
    <label for="password" class="text-slate-500 mt-3">Password</label>
    <input name="password" type="password" id="password" placeholder="****" class="input input-bordered w-full max-w-xs" />

    <button type="submit" class="btn btn-accent text-white mt-6">Add New Kurator</button>
</form>

<%- include('../components/Footer') %>