<%- include('../components/Header') %>



<% if (locals.error) { %>
    <p class="text-error mt-2 text-center animate__animated animate__shakeX"><%= locals.error %></p>
<% } %>

INI HOMEPAGE ADMIN
<%- include('../components/LinkButton', {
    to: '/admin/add-trustee',
    text: 'ADD NEW Kurator'
}) %>

<%- include('../components/Footer') %>